.btn {
  font-size: 14px;
  font-weight: $font-weight-bold;
  border-radius: 5px;
  letter-spacing: 2px;
  padding: 14px 20px;
  text-transform: uppercase;

  @media (max-width: 991px) {
    font-size: 12px;
    padding: 12px 5px;
  }
}